<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allen.part.mapper.ReservationMapper">

    <resultMap id="BaseResultMap" type="com.allen.part.model.entity.Reservation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="spaceId" column="space_id" jdbcType="INTEGER"/>
            <result property="reservationTimeStart" column="reservation_time_start" jdbcType="TIMESTAMP"/>
            <result property="reservationTimeEnd" column="reservation_time_end" jdbcType="TIMESTAMP"/>
            <result property="reservationStatus" column="reservation_status" jdbcType="TINYINT"/>
            <result property="totalCost" column="total_cost" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,space_id,
        reservation_time_start,reservation_time_end,reservation_status,
        total_cost,create_time,update_time
    </sql>
</mapper>
